* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFA500;
}

.slider-wrapper {
    margin: 5% auto;
    padding: 1%;
    width: 60%;
    height: max-content;
    display: grid;
    grid-template-areas: 
    "slides slides"
    "description pagination";
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 5%;
    background-color: #FFFFFF;
    border-radius: 1em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
}

.slide-item {
    height: auto;
    overflow: hidden;
    grid-area: slides;
    border-radius: 1rem;
}

.slide-item img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 0;
    transition: 0.5s;
    animation-name: animaterightback;
    animation-duration: 0.5s;
    pointer-events: none;
    user-select: none;
}

@keyframes animateright {
    from {right: -100%} 
    to {right: 0}
  }

@keyframes animaterightback {
    from {right: 0} 
    to {right: 100%}
}

.pagination {
    grid-area: pagination;
    height: min-content;
    display: flex;
    justify-content: flex-end;
}

 input {
    display: none;
}

.button {
    padding: 0.5em;
    cursor: pointer;
}

.dot {
    background-color: #333333;
    width: 0.7rem;
    height: 0.7rem;
    border: 0.15rem solid #333333;
    border-radius: 50%;
    transition: all 0.5s;
}

.button:hover>.dot{
    background-color: #FFA500;
    border: 0.15rem solid #FFA500;
    transition: all 0.5s;
}

#slide1:checked ~  #first > img,
#slide2:checked ~  #second > img,
#slide3:checked ~  #third > img,
#slide4:checked ~  #fourth > img  {
    z-index: 1;
    opacity: 1;
    animation-name: animateright;
    animation-duration: 0.5s;
} 

#slide1:checked ~  .pagination > #label1 > .dot,
#slide2:checked ~  .pagination > #label2 > .dot,
#slide3:checked ~  .pagination > #label3 > .dot,
#slide4:checked ~  .pagination > #label4 > .dot  {
    background-color: #fff;
} 

.text {
    padding-top: 0.2em;
    grid-area: description;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
    opacity: 0;
    transform: scale(0.7); 
    transition: all 0.5s;     
}

#slide1:checked ~  #text1,
#slide2:checked ~  #text2,
#slide3:checked ~  #text3,
#slide4:checked ~  #text4  {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s;
} 

@media (max-width: 520px) {
    .slider-wrapper {
        grid-row-gap: 2%;
        width: 90%;
        grid-template-areas: 
        "slides slides"
        "pagination pagination"
        "description description";
    }

    .pagination {
        justify-content: center;
    }

    .text {
        padding-top: 0;
    }
}