* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFA500;
    font-size: 1.2rem;
}

.slider-wrapper {
    margin: 2% auto;
    width: 60%;
    height: max-content;
    display: grid;
    grid-template-areas: 
    "slides slides"
    "description pagination";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 5%;
    background-color: #FFFFFF;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
}

.slide-item {
    margin: 5% auto 0 auto;
    width: 70%;
    height: auto;
    object-fit: cover;
    grid-area: slides;
}

.slide-item img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}

.pagination {
    padding: 0 5%;
    grid-area: pagination;
    height: min-content;
    display: flex;
    justify-content: flex-end;
}

 input {
    display: none;
}

.button {
    padding: 0.5em;
    cursor: pointer;
}

.dot {
    background-color: #333333;
    width: 0.7rem;
    height: 0.7rem;
    border: 0.15rem solid #333333;
    border-radius: 50%;
    transition: all 0.3s;
}

.button:hover>.dot{
    background-color: #FFA500;
    border: 0.15rem solid #FFA500;
    transition: all 0.3s;
}

#slide1:checked ~  #first > img,
#slide2:checked ~  #second > img,
#slide3:checked ~  #third > img,
#slide4:checked ~  #fourth > img  {
    opacity: 1;
    transition: all 1s;
} 

#slide1:checked ~  .pagination > #label1 > .dot,
#slide2:checked ~  .pagination > #label2 > .dot,
#slide3:checked ~  .pagination > #label3 > .dot,
#slide4:checked ~  .pagination > #label4 > .dot  {
    background-color: #fff;
} 

#slide1:checked ~  #first > img,
#slide2:checked ~  #second > img,
#slide3:checked ~  #third > img,
#slide4:checked ~  #fourth > img  {
    opacity: 1;
} 

.text { 
    grid-area: description;      
}
